.container {
  height: 75vh;
  margin: 0;
  padding: 0;
}
.active-contact {
  background-color: rgb(204, 202, 202); 
  font-weight: bold; 
  cursor: pointer;
}
.btn {
  background-color: darkblue;
  color: white;
}