<div class="container-fluid border container m-5 position-relative">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ng-container>
            <li class="nav-item border">
              <a class="nav-link active"
                aria-current="page" >Contact <i class="fa fa-trash"></i></a>
            </li>
          </ng-container>
        </ul>
      </div>
      <button class="btn btn-primary ml-auto">+Add Contact</button>
    </div>
  </nav>
</div>

