<div class="container-fluid border container m-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for(contact of contactIds; track contact; let i = $index) {
        <ng-container>
          <li class="nav-item border">
            <a class="nav-link" [ngClass]="{'active-contact': selectedContact === i}"
              aria-current="page" (click)="onClickSelectContact(i)">Contact
              {{i+1}}
              <i class="fa fa-trash" (click)="onClickDelete(i)"></i>
            </a>
          </li>
        </ng-container>
        }
      </ul>
      <button class="btn ml-auto" (click)="onClickAddContact()">+Add
        Contact</button>
    </div>
  </nav>
  <form [formGroup]="contactForm">
    <div class="container w-50 mx-0 p-3">
      <div class="row">
        <div class="col">
          <label for class="form-label">First Name<span
              class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control"
            formControlName="first_name" />
          <app-common-validation-error [control]="contactForm.get('first_name')"
            [key]="'First Name'"></app-common-validation-error>
        </div>
        <div class="col">
          <label for class="form-label">Last Name</label>
          <input type="text" class="form-control" formControlName="last_name" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for class="form-label">Email<span
              class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="email" />
          <app-common-validation-error [control]="contactForm.get('email')"
            [key]="'Email'"></app-common-validation-error>
        </div>
        <div class="col">
          <label for class="form-label">Phone</label>
          <input type="text" class="form-control" formControlName="phone"
            mask="(000) 000-0000" />
        </div>
      </div>
    </div>
    <div></div>
  </form>

  <div class="d-flex justify-content-end">
    <button class="btn" (click)="onClickSave()">Save</button>
  </div>
</div>